#navBar {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    border-bottom: 1px solid #ededed;
    position: relative;

    #logoDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        #column {
            color: #1abcfe;
            background-color: #f3f9fb;
            padding: 5px;
            border-radius: 4px;
        }

        h3 {
            color: #1abcfe;
            font-size: 28px;
            font-weight: 500;
        }
    }

    #userInteraction {
        display: flex;
        align-items: center;
        gap: 20px;

        .line {
            width: 1.5px;
            height: 24px;
            background-color: #d9d9d9;
        }

        .user,
        .cart {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            position: relative;

            &>p {
                color: #666;
                font-size: 16px;
            }

            #userIcon,
            #cartIcon {
                color: #008ecc;
            }
        }

        .user img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    #searchDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        background-color: #f3f9fb;
        gap: 10px;
        padding: 0 20px;
        border-radius: 10px;
        position: relative;
        cursor: pointer;
        #searchIcon {
            color: #008ecc;
        }

        input {
            font-size: 14px;
            height: 14px;
            border: none;
            outline: none;
            background-color: transparent;
            color: #666;
            width: 300px;
        }

        .searchedProducts {
            position: absolute;
            top: 70px;
            width: 100%;
            overflow-y: scroll;
            max-height: 300px;
            display: flex;
            background-color: #f3f9fb;
            padding: 10px;
            gap: 10px;
            z-index: 10;
            flex-direction: column;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            .item {
                display: flex;
                align-items: center;
                padding: 10px;
                background-color: white;
                border-radius: 10px;
                cursor: pointer;
                gap: 10px;

                img {
                    height: 60px;
                    width: 60px;
                    aspect-ratio: 1/1;
                    object-fit: contain;
                }

                h4 {
                    width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

#navBar>div:nth-child(2) {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

// responsiveness here ---------------------------------------------

/* -------------------- 1200 px ---------------------- */
@media (max-width: 1200px) {
    #navBar>div:nth-child(2) {
        gap: 50px;
    }

    #navBar {
        padding: 0 50px;
    }
}

/* --------------------992px ------------------------- */
@media (max-width: 992px) {
    #navBar>div:nth-child(2) {
        gap: 15px;
    }

    #navBar {
        padding: 0 30px;

        #userInteraction {
            gap: 10px;

            .user,
            .cart {
                &>p {
                    display: none;
                }
            }
        }
    }

    #searchDiv input {
        width: 180px;
    }
}

/* -------------------768 -------------------------------- */
@media (max-width: 768px) {
    #navBar {
        height: 90px;
        padding: 0 20px;

        #searchDiv {
            order: 2;
        }

        #logoDiv {
            h3 {
                font-size: 20px;
            }
        }

        #searchDiv {
            input {
                display: none;
                position: absolute;
                top: 55px;
                right: 0px;
                padding: 20px 20px;
                border-radius: 5px;
                background-color: #f3f9fb;
                z-index: 10;
                width: 300px;
            }

            .searchedProducts {
                width: 300px;
                right: 0;
                top: 100px;
            }

            .active {
                display: block;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
        }
    }

    #userInteraction {

        .user,
        .cart {
            &>p {
                display: none;
            }
        }
    }



}

#alert {
    position: absolute;
    top: 100px;
    right: 20px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    gap: 20px;

    &.success {
        background-color: #b3ffb3;
        border: 1px solid #00b300;
        color: #00b300;
    }
    &.danger {
        background-color: #ffa2a2;
        border: 1px solid #b30000;
        color: #b30000;
    }

    p {
        font-size: 14px;
    }

    button {
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}