#gallery {
    display: flex;
    position: relative;
    justify-content: center;
    .button {
        height: 40px;
        width: 40px;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 30px;
        bottom: 30px;
        display: none;
        z-index: 10;
    }

    .filters {
        width: 300px;
        height: 100vh;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
        border-right: 1px solid #ddd;

        &>button{
            padding: 10px;
            border: 1px solid black;
            background-color: #fff;
            cursor: pointer;
            &:hover{
                background-color: #000;
                color: #fff;
            }
        }
        h3 {
            font-size: 20px;
            font-weight: 600;
            color: #000;
        }

        .discount {
            display: flex;
            gap: 5px;
            flex-direction: column;
            align-items: start;

            button {
                padding: 2px 5px;
                border: 1px solid #000;
                background-color: #fff;
                color: #000;
                width: 120px;
                cursor: pointer;
                margin-left: 20px;
                font-size: 14px;

                &:hover,
                &.active {
                    background-color: #000;
                    color: #fff;
                }

            }
        }

        .rating {
            display: flex;
            align-items: start;
            flex-direction: column;

            .rate {
                display: flex;
                margin-top: 2px;
                margin-left: 20px;
                align-items: center;
                padding: 0 5px;
                border: 1px solid transparent;
                cursor: pointer;

                &:hover,
                &.active {
                    border: 1px solid #000;
                }
            }
        }

        .categories {
            ul {
                display: flex;
                flex-wrap: wrap;
                margin-left: 20px;
                list-style: none;
                li {
                    padding: 5px 10px;
                    cursor: pointer;
                    color: #7a7a7a;
                    text-transform: capitalize;

                    &:hover,
                    &.active {
                        color: #000;
                    }
                }
            }
        }

        .price {
            &>div {
                display: flex;
                gap: 20px;
                align-items: center;
                padding: 0 20px;
                margin-top: 10px;

                input {
                    border: 1px solid black;
                    width: 40px;
                    text-align: center;
                    outline: none;
                }
            }

            .horizontal-slider {
                width: 100%;
                height: 10px;
            }

            .thumb {
                height: 10px;
                line-height: 10px;
                width: 10px;
                text-align: center;
                background-color: #000;
                color: #fff;
                border-radius: 50%;
                cursor: grab;
            }

            .track {
                top: 2.5px;
                bottom: 0;
                background: #ddd;
                height: 5px;
                border-radius: 5px;
            }

            button {
                margin-left: 20px;
                margin-top: 10px;
                padding: 2px 5px;
                background-color: rgb(227, 227, 227);
                border-radius: 5px;
                border: 1px solid transparent;
                cursor: pointer;
                &:hover {
                    border: 1px solid #000;
                }
            }
        }
    }

    .main {
        display: flex;
        gap: 20px;
        padding: 20px;
        width: 900px;
        flex-direction: column;

        .sort {
            align-self: end;
            display: flex;
            gap: 10px;

            select {
                padding: 5px 10px;
                border: 1px solid #000;
                cursor: pointer;
                width: 150px;
            }
        }

        .products {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        .pages {
            .btns {
                display: flex;
                margin-top: 10px;

                button {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    background-color: #fff;
                    color: #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    &:hover,
                    &.active {
                        background-color: #f0f0f0;
                    }
                }
            }
        }
    }

    svg {
        height: 15px;
        width: 15px;
        fill: #bdbdbd;

        &.active {
            fill: black;
        }
    }
}

@media(max-width: 1200px) {
    #gallery {
        .filters {
            padding-left: 10px;
        }

        .main {
            width: 100%;
        }
    }
}

@media(max-width: 768px) {
    #gallery {
        .filters {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: white;
            z-index: 1;
            top: 0;
            left: 0;
            justify-content: center;
            transform: translateX(-100%);
            &.active{
                transform: translateX(0);
            }
        }
        .button {
            display: flex;
            transform: translate(0);
        }

        .main .products {
            justify-content: center;
        }
    }
}